
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.red {
  background-color: #d20202;
}
.red:hover {
  background-color: #9b0202;
}
button:hover {
  background-color: #45a049;
}

p {
  font-size: 18px;
}
